// reset default styles;
* {
    vertical-align: baseline;
    font-weight:    inherit;
    font-family:    inherit;
    font-style:     inherit;
    font-size:      100%;
    border:         0 none;
    outline:        0;
    padding:        0;
    margin:         0;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700');

html, body {
    height: 100%;
}

html {
    font-size:   8px;
    font-family: "Roboto", sans-serif;
}

body {
    display:        flex;
    flex-direction: column;
    font-size:      2rem;
    position:       relative;
    width:          100vw;
    height:         100%;
    background:     #E8EAED;
    color:          #5A6068;
}

#AppRoot {
    flex-grow: 1;
    width:     100%;
    height:    100%;

    & > .ScrollbarsCustom-holder {
        position: relative;
        display:  flex;
        width:    100%;
        height:   100%;

        & > .ScrollbarsCustom-wrapper {
            width:  100%;
            height: 100%;

            & > .AppContent {
                display:        flex;
                flex-direction: column;
            }
        }

        & > .ScrollbarsCustom-track {
            display:       block;
            background:    #D0D3D7;
            border-radius: 1rem;
            overflow:      hidden;

            &.ScrollbarsCustom-trackVertical {
                height: calc(100% - 2rem);
                width:  1rem;
                margin: 1rem .5rem;
            }
            &.ScrollbarsCustom-trackHorizontal {
                position: absolute;
                bottom:   .5rem;
                left:     1.5rem;
                height:   1rem;
                width:    calc(100% - 3rem);
            }

            & > .ScrollbarsCustom-thumb {
                background:    #B6BDC9;
                cursor:        pointer;
                border-radius: 1rem;
                box-shadow:    0 0 0 .5rem #E8EAED;

                &.ScrollbarsCustom-thumbVertical {
                    width: 100%;
                }
                &.ScrollbarsCustom-thumbHorizontal {
                    height:     100%;
                    box-shadow: none;
                }
            }
        }
    }
}

#AppHead {
    display:       flex;
    align-content: center;
    align-items:   center;
    width:         100%;
    max-width:     1200px;
    margin:        1.5rem auto;
    padding:       0 2rem;
    flex-grow:     0;
    flex-shrink:   0;
    box-sizing:    border-box;

    h1 {
        font-size: 3rem;
        flex-grow: 1;
    }

    a {
        font-size: 4rem;
        color:     #AAAAAE;
        cursor:    pointer;

        &:hover {
            color: #555555;
        }
    }

    @media (min-width: 961px) {
        margin:  1.5rem auto;
        padding: 0 3rem;

        h1 {
            font-size: 4rem;
        }

        a {
            font-size: 6rem;
        }
    }
}

#AppBody {
    flex-grow:     1;
    flex-shrink:   0;
    display:       flex;
    padding:       0 0 0 .5rem;
    flex-wrap:     wrap;
    box-sizing:    border-box;
    align-content: baseline;
    width:         100%;
    max-width:     1200px;
    margin:        0 auto;

    @media (min-width: 961px) {
        padding: 0 1rem 0 2rem;
    }

    & > .packageDescription {
        display:    block;
        width:      100%;
        box-sizing: border-box;
        padding:    0 2rem;
        flex-grow:  0;

        @media (min-width: 961px) {
            padding: 0 3rem;
        }

        h2 {
            width:       100%;
            margin:      2rem 0 0;
            font-size:   2.5rem;
            font-weight: 500;

            @media (min-width: 961px) {
                margin: 3rem 0 0;
            }
        }

        ul {
            box-sizing: border-box;
            padding:    1rem 0 2rem 2.5rem;
        }

        a {
            text-decoration: none;
            font-weight:     500;
            color:           #666666;

            &:hover {
                text-decoration: underline;
            }
        }

        .button {
            display:          inline-flex;
            align-items:      center;
            margin:           .5rem;
            cursor:           pointer;
            background-color: #555555;
            color:            rgba(255, 255, 255, .87);
            padding:          .5rem 1rem;
            font-size:        1.5rem;
            line-height:      1em;
            border-radius:    .25rem;
            text-transform:   uppercase;
            user-select:      none;

            &:hover {
                background: #333333;
                color:      #FFFFFF;
            }
        }
    }

    & > h2 {
        display:     block;
        width:       100%;
        padding:     3rem 2rem 0;
        font-size:   3rem;
        font-weight: 500;

        @media (min-width: 961px) {
            padding: 3rem 3rem 0;
        }
    }
}

#AppFooter {
    display:        flex;
    flex-direction: column;
    align-items:    center;
    flex-grow:      0;
    flex-shrink:    0;
    width:          100%;
    max-width:      1200px;
    margin:         2rem auto;
    box-sizing:     border-box;

    .projectLink, .authorLink {
        cursor:          pointer;
        text-decoration: none;

        &:hover {
            color:           #333333;
            text-decoration: underline;
        }
    }

    .projectLink {
        text-transform: uppercase;
        font-weight:    500;
    }
    .projectLink, .projectLink:active {
        color: inherit;
    }

    .authorLink {
        margin: .5rem 0 0;
    }
    .authorLink, .authorLink:active {
        color: #B6B6B7;
    }
}

.EzDropdown-content {
    display:    block;
    box-sizing: border-box;
    padding:    1rem 2rem;
    border:     1px solid rgba(0, 0, 0, .15);
    margin:     1rem 0;
}

.EzDropdown-trigger {
    display:    block;
    cursor:     pointer;
    box-sizing: border-box;
    padding:    1rem 2rem;
    border:     1px solid rgba(0, 0, 0, .15);
}
